.login-page {
	display: flex;
	align-items: center;
	justify-content: center;
	background: url('/assets/images/checklist_bg.jpg');
	background-size: contain;
	width: 50rem;
	height: 50rem;
}

.login-btn {
	border: none;
	padding: 0;
}
