.loader {
	width: 60px;
	height: 60px;
	border: 10px solid #7ae4e450;
	border-top-color: #09c4e6;
	animation: spinning 1s linear infinite;
	border-radius: 100%;
}

@keyframes spinning {
	to {
		transform: rotate(360deg);
	}
}
